.auth{
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.authCard{
  max-width: 400px;
  width: 100%;
}

.authForm{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}